* {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url("assets/bg.jpg.jpg");
    height: 100vh;
}

.main .box{
    height: 100vh;
    width: 100%;
    opacity: 0.50;
    background-color: black;
}